/* Add a background color to the header element */

/* Add a fun background color to the main element */

/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */

/* Add a background color to the footer element */
header {
    background-color: deepskyblue;
}

main {
    background-color: rgba(240, 130, 225, 0.575);
}

h1 {
    text-align: center;
}

p {
    color: rgb(12, 215, 241);
    font-style: italic;
}

img {
    border-style: dashed; 
}

ul {
    font-family: cursive;
}

footer {
    background-color: whitesmoke;
}

